{% extends 'base.html' %}
{% block content %}
<h3>Cadastro de Produtos</h3>

<wrapper class="bg">
  <main class="main d-flex justify-content-center row p-5" id="main-cadastro">
    <div class="card" id="form-bg">
      <form action="{{url_for('cadastro')}}" method="POST" id="form">
        
        <!-- Nome -->
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="name"
            placeholder="Digite o nome do seu produto"
            required
          />
        </div>
        
        <!-- Ano -->
        <div class="mb-3">
          <label for="ano" class="form-label">Ano de Fabricação:</label>
          <input
            type="number"
            class="form-control"
            id="ano"
            name="year"
            placeholder="Digite o ano de fabricação"
            required
          />
        </div>
        
        <!-- Descrição -->
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição:</label>
          <textarea
            class="form-control"
            id="descricao"
            name="description"
            rows="3"
            required
          ></textarea>
        </div>
        
        <!-- Botão -->
        <input type="submit" class="btn btn-primary" value="Cadastrar" id="button" />
      </form>
    </div>

    <br />

    <!-- Tabela de Produtos -->
    <table class="table table-striped" id="tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano de Fabricação</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in products %}
        <tr>
          <td>{{ produto.Nome }}</td>
          <td>{{ produto.Ano }}</td>
          <td>{{ produto.Descricao[:50] }}...</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</wrapper>
{% endblock content %}
