{% extends 'base.html' %} {% block content %}
<h3>Cadastro de Produtos</h3>
<hr />
<wrapper class="bg">
  <main class="main d-flex justify-content-center row p-5" id="main-cadastro">
    <div class="card" id="form-bg">
      <form action="{{url_for('cadastro')}}" method="POST" id="form">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input
            type="name"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="digite seu nome"
          />
        </div>
        <label for="nome" class="form-label">Ano de Fabricação:</label>
        <input
          type="year"
          class="form-control"
          id="exampleFormControlInput2"
          placeholder="digite o ano de fabricação"
        />
        <div class="mb-3">
          <label for="descricao" class="form-label">Descrição:</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Cadastrar" />
      </form>
    </div>

    <br />
    <hr />
    <table class="table table-striped">
      <thead>
        <th>Nome:</th>
        <th>Ano de Fabricação:</th>
        <th>Descrição:</th>
      </thead>
      {% for game in gamelist %}
      <tbody>
        <tr>
          <td>{{game.Nome}}</td>
          <td>{{game.Ano}}</td>
          <td>{{game.Descricao}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </main>
</wrapper>
<!-- {{gamelist}} -->
{% endblock content %}
